
/* Universal */
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


/* changes the body */
body {
    background-color: rgb(21, 70, 23);
    margin: 0;
    padding: 0;
}
/* adds a white box at the top of the page */
.white-box {
    vertical-align: top;
    color: white;
    background-color: white;
   
    width: 100%;
    height: 20px;
}
/* customizes the totoro gif */
.totoro {
    width: 200px;
    height: 200px;
    
    
}
/* customizing header */
.header {
    background-color: black;
    box-sizing: border-box;
    display: flex; 
    flex-wrap: wrap;
    
    width: 100%;

}
/* customizing font in header */
h1 {
    font-family: 'Courier New', Courier, monospace;
    width: (100%-100px);
    display: block;
    color: white;
    margin:auto;
    margin-left: 0px;
    padding: 20px;
    padding-top:40px ;
      
}

/* customizing orientation of nav */
.header nav {
    margin:auto;
    padding-top: 20px;

}

/* customises orientaiton of the lists */
.header nav ul li {
    display: inline;
    margin:auto; 

}

/* customizes lists */
.header nav ul li a {
    color: white;
    font-size: 20px;
    text-align: center;
    padding:20px;
    text-decoration: none;
}
/* hover feature for lists */
.header nav ul li a:hover {

    font-size: 25px;
}

/* main img*/
.forest {
    width: 100%;
    
}
/* header for all articles */
.head {
   margin:50px;
   padding-right:5px;
   border-right: 6px solid thistle;
   color: #d4af37;

}


/* about me section */
.about-me {
    
    display: flex;
    flex-wrap: wrap;
    

}
/* description in about me */
.descr {
    text-align: center;
    width: 80%;

}
/* work seciton */
.work {
    display: inline-flex;
    flex-wrap: wrap;
    

}

/*general work example orientation */
.cards {
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}


/* specific work exmaple orientation */
.card {
    display:block;
    flex: auto;
    margin: auto;
    padding: auto;
    position: relative; 
    flex-wrap: wrap;
}
/* text block at the bottom left of piuctures */
.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* making the image large */
.largeimg {
    display: inline;
    width: 70%;
    margin: 20px;
    border: 5px solid black;


}

.largeimg:hover {
    opacity: 0.8;

}

.largeimg:active {
    
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}



/* customizing small img */
.smallimg {
    
    width: 70%;
    margin: 20px;
    border: 5px solid black;

}

.smallimg:hover {
    opacity: 0.8;
}
/* contact me section*/
.contact-me {
    display: flex;
    flex-wrap: wrap;
}


.contact {

    margin: auto;
    padding: auto;
}
