:root {
    --teal:rgb(6,92,92);
    --blue:#144d9e;
    --yellow:#d4af37;
    

}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}



body {
    background-color: rgb(21, 70, 23);
    margin: 0;
    padding: 0;
}

.white-box {
    vertical-align: top;
    color: white;
    background-color: white;
   
    width: 100%;
    height: 20px;
}

.totoro {
    width: 200px;
    height: 200px;
    
    
}

.header {
    background-color: black;
    box-sizing: border-box;
    display: flex; 
    flex-wrap: wrap;
    
    width: 100%;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    width: (100%-100px);
    display: block;
    color: white;
    margin:auto;
    margin-left: 0px;
    padding: 20px;
    padding-top:40px ;
      
}

.header nav {
    margin:auto;
    padding-top: 20px;
    
}


.header nav ul li {
     
    display: inline;
    margin:auto;
    
    
    
}

.header nav ul li a {
    color: white;
    font-size: 20px;
    text-align: center;
    padding:20px;
    text-decoration: none;
}

.header nav ul li a:hover {

    font-size: 25px;
}


.forest {
    width: 100%;
    
}

.head {
   margin:50px;
   padding-right:5px;
   border-right: 6px solid thistle;
   color: #d4af37;

}



.about-me {
    
    display: flex;
    flex-wrap: wrap;
    

}

.descr {
    text-align: center;
    width: 80%;

}

.work {
    display: inline-flex;
    flex-wrap: wrap;
    

}


.cards {
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}



.card {
    display:block;
    flex: auto;
    margin: auto;
    padding: auto;
    position: relative; 
    flex-wrap: wrap;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.largeimg {
    display: inline;
    width: 70%;
    margin: 20px;
    border: 5px solid black;


}

.largeimg:hover {
    opacity: 0.8;

}

.largeimg:active {
    
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}




.smallimg {
    
    width: 70%;
    margin: 20px;
    border: 5px solid black;

}

.smallimg:hover {
    opacity: 0.8;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
}


.contact {

    margin: auto;
    padding: auto;
}
